@use "components";

:root {
  --color-yellow: yellow;
  --color-yellow-300: #ffff88;
  --color-tan: #eba55d;
  --color-brown: #78310d;
  --color-pink: #fe4bda;
  --color-pink-300: #ff8be9;
  --color-pink-100: #ce78be;
  --color-purple: #3600c7;
  --color-purple-300: #9f73eb;
  --color-blue: #9dffff;
  --color-green: #acffb9;
  --body-width: min(100%, 1280px);
  --padding-inline: 1rem;
}

@font-face {
  font-family: "Stardew Valley";
  src: url("/fonts/stardew.ttf") format("truetype"),
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

p {
  line-height: 1.5;
}

body {
  position: relative;
  // padding: var(--padding-inline);
  font-family: Stardew Valley;
  font-size: 2rem;
  color: var(--color-yellow);
  background-size: cover;
  // background-image: url("/images/stardew-valley-background.png");
  // background-attachment: fixed;
}

// body::before {
//   content: "";
//   position: absolute;
//   inset: 0;
//   background-color: rgb(0, 0, 0, 50%);
//   z-index: -1;
// }

body:has(.swiper-slide-active > .story--age) {
  background-color: black;
}

li:has(.story) {
  position: relative;
  display: grid;
  place-items: center;
  height: 100dvh;
  overflow: hidden;
}

.story {
  width: 100%;
  height: 100%;
}

:is(.swiper-button-prev, .swiper-button-next) {
  width: 12.5% !important;
  height: 100% !important;
  margin-top: 0 !important;
  transform: translate(0, -50%) !important;
  background: transparent;
  border: none;

  svg {
    display: none;
  }
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-pagination {
  --swiper-pagination-top: 0;
  --swiper-pagination-bottom: auto;
  height: 12.5%;
  background: linear-gradient(0deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.15) 100%);

  &-bullet {
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-width: 2rem;
    --swiper-pagination-bullet-height: 4px;
    --swiper-pagination-bullet-border-radius: 1rem;
  }
}

main, .section-divider {
  display: grid;
  place-items: center;
}

h1, h2 {
  margin-bottom: 3rem;
  line-height: 0.75;
  text-align: center;
}

h1 {
  font-size: 4.5rem;
  color: var(--color-blue);
}

h2 {
  font-size: 3.5rem;
}

.blue {
  color: var(--color-blue);
}

.pink {
  color: var(--color-pink-300);
}

.purple {
  color: var(--color-purple-300);
}

.yellow {
  color: var(--color-yellow-300);
}

.green {
  color: var(--color-green);
}

.stardew--border > img {
  object-fit: cover;
  width: 100%;
}

.stardew--info {
  display: grid;
  place-items: center;
  position: absolute;
}

.stardew--info > :is(img, span) {
  grid-area: 1 / 1;
}

.stardew--dialogue {
  position: relative;
  display: inline-grid;
}

.stardew--dialogue :is(img, p) {
  grid-area: 1 / 1;
}

.stardew--dialogue p {
  padding: 2rem;
  max-width: 325px;
  line-height: 1;
  color: var(--color-brown);
  z-index: 1;
}

.stardew--dialogue .vince {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}

@keyframes jump {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* Thanks section */
#thanks-section {
  h2 {
    max-width: 40ch;
    margin-inline: auto;
    font-size: 3rem;
    line-height: 0.9;
  }
  
  .section-divider--hearts {
    gap: 1rem;
    margin-block: 2.5rem;

    &:first-of-type {
      margin-top: 10rem;
    }

    &:last-of-type {
      margin-bottom: 10rem;
    }
  } 
}

/* Utility classes */
.stardew--border {
  padding: 8px 4px;
  border: 16px solid transparent;
  border-image: url("/images/stardew-valley-border.webp") 20;
  background-attachment: fixed;
  background-color: var(--color-tan);
}

.stardew--info {
  color: var(--color-brown);
}

.section-divider {
  display: flex;
  justify-content: center;
  margin-block: 5rem;

  @media (max-width: 640px) {
    img:not(:first-of-type) {
      display: none;
    }
  }
}