@use "resets" as resets;
@use "colors" as colors;
@use "fonts" as fonts;
@use "utils" as utilities;
@use "shadows" as shadows;
@use "buttons" as buttons;
@use "animations" as animations;
@use "queries" as queries;
@use "mixins" as mixins;
@use "transitions" as transitions;
@use "components/index" as components;
@use "pages/ava";

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  --_bar-width: 300px;

  font-family: var(--ff-main);
  color: var(--color-display);
  background-color: var(--color-page);

  @media (min-width: queries.$mq-xl) {
    display: grid;
    grid-template-areas: "aside content";
    grid-template-columns: var(--_bar-width) auto;

    // We're transitioning this with JavaScript and inside `_figma-bar.scss`
    transition: var(--transition-default);
  }
}

main {
  grid-area: content;
}

aside {
  grid-area: aside;
}

ol {
  list-style-type: none;
  padding: 0;
}

::selection {
  color: var(--color-pink);
}

.figma-hover::selection,
.figma-click::selection {
  color: var(--color-froggy);
}
