li:has(.story--playlist) {
  position: relative;
  background: center / cover no-repeat url("/images/stardew-valley-background.png");
  background-attachment: fixed;

  &::before {
    content: "";
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.story--playlist {
  color: var(--color-pink);
}

.story--playlist h2 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--color-pink);

  & > div {
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    line-height: 1.125;
  }
}

.story--playlist ol {
  list-style-type: none;
}

.story--playlist ol > .group {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(100%, 1400px);
}

.story--playlist ol > ol:nth-of-type(:even) {
  margin-left: 10vw;
}

.story--playlist li figure {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;

  @media (max-width: 640px) {
    flex-wrap: wrap;
  }
}

.story--playlist figcaption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.story--playlist figcaption .metadata {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.story--playlist figcaption .song {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
  line-height: 0.9;
}

.story--playlist figcaption .metadata :not(.song) {
  color: var(--color-pink-100);
}

.story--playlist .stars {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.story--playlist figure > img.rotate.right {
  transform: rotate(2.5deg);
}

.story--playlist ol li:nth-of-type(even) {
  figure > img {
    transform: rotate(1deg);
  }

  .metadata {
    transform: rotate(-1deg);
  }

  .stardew--dialogue {
    position: relative;
    right: -2rem;
  }
}

.story--playlist ol li:nth-of-type(odd) {
  figure > img {
    transform: rotate(-1deg);
  }

  .metadata {
    transform: rotate(1deg);
  }

  .stardew--dialogue {
    position: relative;
    right: 2rem;
  }
}

.story--playlist .help {
  display: flex;
  gap: 0.5rem;
  margin-top: 3rem;
}