<section class="component--love-island" aria-labelledby="love-island-heading">
  <h2 id="love-island-heading" class="title">LOVE ISLAND REACTIONS!!!</h2>
  <img src="https://x.com/i/status/2062004840297799899" alt="" aria-hidden="true">
  <ul>
    <li>
      <figure>
        <img src="/images/love-island/corbin.webp" alt="Corbin" width="600" height="600">
      </figure>
    </li>
  </ul>
</section>