---
import MusicPlayer from "./MusicPlayer.astro";
---

<section class="component--love-island" aria-labelledby="love-island-heading">
  <h2 id="love-island-heading" class="title">LOVE ISLAND REACTIONS!!!</h2>
  <ul>
    <li>
      <figure>
        <img src="/images/love-island/corbin.webp" alt="Corbin" width="600" height="600">
      </figure>
    </li>
  </ul>
</section>