<section class="story story--playlist" aria-labelledby="review-heading">
  <h2 id="review-heading" class="title">AVA'S PLAYLIST REVIEW!!</h2>
  <ol>
    <li>
      <figure>
        <img
          src="https://cdn-images.dzcdn.net/images/cover/bf087df4e0c81f5c1e3eca131b836082/500x500-000000-80-0-0.jpg"
          alt=""
          aria-hidden="true"
          width="300"
        >
        <figcaption>
          <div class="metadata">
            <span class="song">
              <span class="stars">
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
              </span>
              1. I Do Not Care for the Winter Sun
            </span>
            <span>
              <span class="band">Beach House</span>
              ///
              <span class="runtime">3m 10sec</span>
            </span>
          </div>
          <div class="stardew--dialogue">
            <img
              src="/images/stardew-valley-dialogue.webp"
              alt=""
              aria-hidden="true"
            >
            <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
            <p>I REALLY LIKED THE ALBUM COVER LOL</p>
          </div>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <img
          src="https://cdn-images.dzcdn.net/images/cover/dd7dc277af05d975cf5a75a60f04e5bb/500x500-000000-80-0-0.jpg"
          alt=""
          aria-hidden="true"
          width="300"
        >
        <img src="https://i.redd.it/9f9qan0yg3y51.gif" alt="" aria-hidden="true" width="50" class="cherry">
        <figcaption>
          <div class="metadata">
            <span class="song">
              <span class="stars">
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star--gold.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
              </span>
              2. What Did You See?
            </span>
            <span>
              <span class="band">Cemeteries</span>
              ///
              <span class="runtime">4m 24sec</span>
            </span>
          </div>
          <div class="stardew--dialogue">
            <img
              src="/images/stardew-valley-dialogue.webp"
              alt=""
              aria-hidden="true"
            >
            <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
            <p>I HAD TO REDO THE RATINGS FOR EACH SONG BECAUSE OF THIS ONE; I REALLY LIKE IT!!</p>
          </div>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <img
          src="https://cdn-images.dzcdn.net/images/cover/5c8e6145b4da32ecdb06faf2d03a11a7/500x500-000000-80-0-0.jpg"
          alt=""
          aria-hidden="true"
          width="300"
        >
        <figcaption>
          <div class="metadata">
            <span class="song">
              <span class="stars">
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
              </span>
              3. Ontario Gothic
            </span>
            <span>
              <span class="band">Foxes In Fiction</span>
              ///
              <span class="runtime">5m 25sec</span>
            </span>
          </div>
          <div class="stardew--dialogue">
            <img
              src="/images/stardew-valley-dialogue.webp"
              alt=""
              aria-hidden="true"
            >
            <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
            <p>I REALLY LIKED THE BEGINNING TOO :()</p>
          </div>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <img
          src="https://cdn-images.dzcdn.net/images/cover/e9212a465314d2c8d63649e7193ddc6e/500x500-000000-80-0-0.jpg"
          alt=""
          aria-hidden="true"
          width="300"
        >
        <figcaption>
          <div class="metadata">
            <span class="song">
              <span class="stars">
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
              </span>
              4. Nowhere Near
            </span>
            <span>
              <span class="band">Yo La Tengo</span>
              ///
              <span class="runtime">6m 3sec</span>
            </span>
          </div>
          <div class="stardew--dialogue">
            <img
              src="/images/stardew-valley-dialogue.webp"
              alt=""
              aria-hidden="true"
            >
            <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
            <p>IT SOUNDED KINDA LIKE A COWBOY SONG HAHA</p>
          </div>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <img
          src="https://cdn-images.dzcdn.net/images/cover/c90c6ef879fb5cd5d04bd29c777b84e3/500x500-000000-80-0-0.jpg"
          alt=""
          aria-hidden="true"
          width="300"
        >
        <figcaption>
          <div class="metadata">
            <span class="song">
              <span class="stars">
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star--gold.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
              </span>
              5. Autumn Sweater
            </span>
            <span>
              <span class="band">Yo La Tengo</span>
              ///
              <span class="runtime">5m 18sec</span>
            </span>
          </div>
          <div class="stardew--dialogue">
            <img
              src="/images/stardew-valley-dialogue.webp"
              alt=""
              aria-hidden="true"
            >
            <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
            <p>THE INSTRUMENTALS ARE REALLY FUN AND I THINK IT'S CATCHY :)</p>
          </div>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <img
          src="https://cdn-images.dzcdn.net/images/cover/988f95c129a65d8e70be286a65877cac/500x500-000000-80-0-0.jpg"
          alt=""
          aria-hidden="true"
          width="300"
        >
        <figcaption>
          <div class="metadata">
            <span class="song">
              <span class="stars">
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
              </span>
              6. Killer Whale
            </span>
            <span>
              <span class="band">Boyscott</span>
              ///
              <span class="runtime">2m 28sec</span>
            </span>
          </div>
          <div class="stardew--dialogue">
            <img
              src="/images/stardew-valley-dialogue.webp"
              alt=""
              aria-hidden="true"
            >
            <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
            <p>ANOTHER BANGER. BOO BOO BOO BUM BOO BOO BOO BUM. I'D GIVE IT A HIGHER RATING BUT RATING INFLATION...</p>
          </div>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <img
          src="https://cdn-images.dzcdn.net/images/cover/d65dde22a01b9b65a898cc28119d5611/500x500-000000-80-0-0.jpg"
          alt=""
          aria-hidden="true"
          width="300"
        >
        <figcaption>
          <div class="metadata">
            <span class="song">
              <span class="stars">
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star--gold.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
              </span>
              7. Lost Love Letters
            </span>
            <span>
              <span class="band">Fog Lake</span>
              ///
              <span class="runtime">3m 3sec</span>
            </span>
          </div>
          <div class="stardew--dialogue">
            <img
              src="/images/stardew-valley-dialogue.webp"
              alt=""
              aria-hidden="true"
            >
            <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
            <p>BANGER ALERT! LOVE BOTH THE LYRICS AND INSTRUMENTS. WHOLE SONG IS A VIBE</p>
          </div>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <img
          src="https://cdn-images.dzcdn.net/images/cover/7be847da56bed46815f9717f3be7fd9b/500x500-000000-80-0-0.jpg"
          alt=""
          aria-hidden="true"
          width="300"
        >
        <figcaption>
          <div class="metadata">
            <span class="song">
              <span class="stars">
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
              </span>
              8. Her Sinking Sun
            </span>
            <span>
              <span class="band">Coma Cinema</span>
              ///
              <span class="runtime">2m 34sec</span>
            </span>
          </div>
          <div class="stardew--dialogue">
            <img
              src="/images/stardew-valley-dialogue.webp"
              alt=""
              aria-hidden="true"
            >
            <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
            <p>GREW ON ME THE MORE I LISTENED #YUP</p>
          </div>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <img
          src="https://cdn-images.dzcdn.net/images/cover/4638f365f71a41370e30b1034e2e3ebb/500x500-000000-80-0-0.jpg"
          alt=""
          aria-hidden="true"
          width="300"
        >
        <figcaption>
          <div class="metadata">
            <span class="song">
              <span class="stars">
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
              </span>
              9. Half Right
            </span>
            <span>
              <span class="band">Heatmiser</span>
              ///
              <span class="runtime">4m 21sec</span>
            </span>
          </div>
          <div class="stardew--dialogue">
            <img
              src="/images/stardew-valley-dialogue.webp"
              alt=""
              aria-hidden="true"
            >
            <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
            <p>I REALLY WANTED TO LIKE THIS ONE BC IT'S SPECIAL TO YOU BUT I COULDN'T GET OVER THE ACOUSTICS AND SINGING T_T</p>
          </div>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <img
          src="https://cdn-images.dzcdn.net/images/cover/2b5038f4342e8092a74abcfb5fead752/500x500-000000-80-0-0.jpg"
          alt=""
          aria-hidden="true"
          width="300"
        >
        <figcaption>
          <div class="metadata">
            <span class="song">
              <span class="stars">
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star--gold.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
              </span>
              10. Katy Song
            </span>
            <span>
              <span class="band">Red House Painters</span>
              ///
              <span class="runtime">8m 22sec</span>
            </span>
          </div>
          <div class="stardew--dialogue">
            <img
              src="/images/stardew-valley-dialogue.webp"
              alt=""
              aria-hidden="true"
            >
            <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
            <p>AT FIRST I DIDN'T LIKE IT BUT THEN I WAS LIKE HOOOLY THE MIDDLE AND ENDING</p>
          </div>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <img
          src="https://cdn-images.dzcdn.net/images/cover/27923f1071b27caf9950a865d758329d/500x500-000000-80-0-0.jpg"
          alt=""
          aria-hidden="true"
          width="300"
        >
        <figcaption>
          <div class="metadata">
            <span class="song">
              <span class="stars">
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
              </span>
              11. Baby Blue
            </span>
            <span>
              <span class="band">King Krule</span>
              ///
              <span class="runtime">3m 35sec</span>
            </span>
          </div>
          <div class="stardew--dialogue">
            <img
              src="/images/stardew-valley-dialogue.webp"
              alt=""
              aria-hidden="true"
            >
            <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
            <p>NOT MUCH TO SAY OTHER THAN I DON'T LIKE HOW THIS GUY SINGS ICL LMFAO</p>
          </div>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <img
          src="https://cdn-images.dzcdn.net/images/cover/27923f1071b27caf9950a865d758329d/500x500-000000-80-0-0.jpg"
          alt=""
          aria-hidden="true"
          width="300"
        >
        <figcaption>
          <div class="metadata">
            <span class="song">
              <span class="stars">
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
                <img
                  src="/images/stardew-valley-star.webp"
                  alt=""
                  aria-hidden="true"
                  width="35"
                >
              </span>
              12. Border Line
            </span>
            <span>
              <span class="band">King Krule</span>
              ///
              <span class="runtime">3m 5sec</span>
            </span>
          </div>
          <div class="stardew--dialogue">
            <img
              src="/images/stardew-valley-dialogue.webp"
              alt=""
              aria-hidden="true"
            >
            <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
            <p>FINISH THIS VINCE</p>
          </div>
        </figcaption>
      </figure>
    </li>
  </ol>
</section>