<section class="story story--present" aria-labelledby="present-heading">
  <button id="present" data-clicks="0">
    <svg
      class="shake"
      width="300"
      height="320"
      viewBox="0 0 14 16"
      fill="none"
      shape-rendering="crispEdges"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use href="/images/gift.svg#unopened"></use>
    </svg>
  </button>
</section>
<script>
  import { stories } from "../../scripts/main";

  function initPresent() {
    const present = document.getElementById("present");
    
    present?.addEventListener("click", (event) => {
      const svg = present.querySelector("svg");
      let clicks = Number(present.getAttribute("data-clicks"));
      if (!svg || clicks > 3) return;

      clicks = clicks + 1;
      changePresentSprite(present, svg, clicks);
    });
  }

  function changePresentSprite(
    present: HTMLElement,
    svg: SVGSVGElement,
    clicks: Number
  ) {
    const use = svg.querySelector("use");
    if (!use) return;

    switch (clicks) {
      case 1:
        svg.classList.remove("shake");
        use.setAttribute("href", "/images/gift.svg#partially-opened");
        break;
      case 2:
        svg.setAttribute("width", "320");
        svg.setAttribute("height", "340");
        svg.setAttribute("viewBox", "0 0 14 17");
        use.setAttribute("href", "/images/gift.svg#mostly-opened");
        break;
      case 3:
        svg.setAttribute("width", "360");
        svg.setAttribute("height", "380");
        svg.setAttribute("viewBox", "0 0 14 19");
        use.setAttribute("href", "/images/gift.svg#opened");
        playPresentSound();

        setTimeout(() => {
          stories.next();
        }, 2000);
        break;
      default:
        break;
    }

    present.setAttribute("data-clicks", String(clicks));
  }

  function playPresentSound() {
    const audio = document.getElementById("music-player") as HTMLAudioElement;
    if (audio) {
      audio.setAttribute("src", "/sounds/present-open.mp3");
      audio.play();
    }
  }

  initPresent();
</script>
