<section class="story story--present" aria-labelledby="present-heading">
  <button id="present" data-clicks="0">
    <svg width="140" height="160" viewBox="0 0 14 16" fill="none" shape-rendering="crispEdges" xmlns="http://www.w3.org/2000/svg">
      <use href="/images/gift.svg#unopened"></use>
    </svg>
  </button>
</section>

<script>
  import { stories } from "../../scripts/main";

  function initPresent() {
    const present = document.getElementById("present");
    
    present?.addEventListener("click", (event) => {
      const clicks = Number(present.getAttribute("data-clicks"));
      const svg = present.querySelector("svg");
      const width = Number(svg?.getAttribute("width"));
      const height = Number(svg?.getAttribute("height"));

      if (!svg || !width || !height) {
        return;
      } else if (clicks + 1 >= 5) {
        openPresent(svg);
        present.setAttribute("disabled", "true");
        return;
      } else {
        svg.setAttribute("width", String(width + 20));
        svg.setAttribute("height", String(height + 20));
        present.setAttribute("data-clicks", String(clicks + 1));
      }
    });
  }

  function openPresent(svg: SVGSVGElement) {
    const carousel = document.querySelector(".swiper") as any; // Just shut up TS
    const swiper = carousel?.swiper;
    if (!swiper) return;

    changePresentSprite(svg);
    playPresentSound();
    setTimeout(() => {
      stories.next();
    }, 2000);
  }

  function changePresentSprite(svg: SVGSVGElement) {
    svg.setAttribute("viewBox", "0 0 14 19");
    svg.setAttribute("width", "220");
    svg.setAttribute("height", "270");
    svg.querySelector("use")?.setAttribute("href", "/images/gift.svg#opened");
  }

  function playPresentSound() {
    const audio = document.getElementById("music-player") as HTMLAudioElement;
    if (audio) {
      audio.setAttribute("src", "/sounds/present-open.mp3");
      audio.play();
    }
  }

  initPresent();
</script>
