---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";

import Present from "../components/Ava/Present.astro";
import Age from "../components/Ava/Age.astro";
import Intro from "../components/Ava/Intro.astro";
import Home from "../components/Ava/Home.astro";
import PlaylistReview from "../components/Ava/PlaylistReview.astro";
import LoveIsland from "../components/Ava/LoveIsland.astro";
import MusicPlayer from "../components/Ava/MusicPlayer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="I'm Vince! A super passionate engineer experienced in building marketing & e-commerce sites. I believe the web should be fun and accessible for all!">

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://vincecorradetti.com">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Vince Corradetti | UI Engineer">
		<meta property="og:description" content="I'm Vince! A super passionate engineer experienced in building marketing & e-commerce sites. I believe the web should be fun and accessible for all!">
		<meta property="og:image" content="https://vincecorradetti.com/images/gift-og.png">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="vincecorradetti.com">
		<meta property="twitter:url" content="https://vincecorradetti.com">
		<meta name="twitter:title" content="Vince Corradetti | UI Engineer">
		<meta name="twitter:description" content="I'm Vince! A super passionate engineer experienced in building marketing & e-commerce sites. I believe the web should be fun and accessible for all!">
		<meta name="twitter:image" content="https://vincecorradetti.com/images/gift-og.png">
    <meta name="robots" content="noindex, nofollow" />

		<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
		<link rel="shortcut icon" href="/favicon/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Vince | UI" />
		<link rel="manifest" href="/favicon/site.webmanifest" />

		<link rel="stylesheet" href="/styles/ava.css">
		<title>Happy Birthday Ava!!</title>
	</head>
	<body>
		<main class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide"><Present /></li>
        <li class="swiper-slide"><Age /></li>
        <li class="swiper-slide"><Intro /></li>
        <li class="swiper-slide"><Home /></li>
        <li class="swiper-slide"><PlaylistReview /></li>
        <li class="swiper-slide"><LoveIsland /></li>
      </ul>
      <div class="swiper-pagination"></div>
      <button class="swiper-button-prev"></div>
      <button class="swiper-button-next"></div>
		</main>

    <MusicPlayer />
	</body>
</html>

<script>
  import { gsap } from "gsap";
  import Swiper from "swiper";
  import { Navigation, Pagination, EffectFade } from "swiper/modules";

  function initCarousel() {
    const swiper = new Swiper(".swiper", {
      modules: [Navigation, Pagination, EffectFade],
      slidesPerView: 1,
      noSwiping: true,
      noSwipingClass: "swiper-slide",
      navigation: {
        prevEl: ".swiper-button-prev",
        nextEl: ".swiper-button-next",
      },
      pagination: {
        el: ".swiper-pagination",
        type: "bullets",
        clickable: true,
      },
    });

    return swiper;
  }

  function initGsapAnimations(swiper: Swiper) {
    swiper.on("slideChangeTransitionStart", () => {
      const slide = swiper.slides[swiper.activeIndex];
      const klass = getActiveSlideClass(slide);

      switch(klass) {
        case ".story--age":
          playAgeStory(slide);
          break;
        default:
          break;
      }
    });
  }

  function playAgeStory(slide: HTMLElement) {
    const hasPlayed = slide.getAttribute("data-played-animation");
    if (hasPlayed === "true") return;

    gsap.fromTo(
      slide,
      {
        clipPath: "circle(5% at 50% 50%)"
      },
      {
        clipPath: "circle(100% at 50% 50%)",
        duration: 0.75,
        ease: "power4.in"
      }
    );
    slide.setAttribute("data-played-animation", "true");
  }

  // duplicated in `MusicPlayer.astro`
  function getActiveSlideClass(slide: HTMLElement) {
    const story = slide?.querySelector(".story");
    const klasses = story ? Array.from(story.classList) : [];
    const storyClass = klasses?.find((klass) => klass.startsWith("story--"));
    return `.${storyClass}`;
  }

  const swiper = initCarousel();
  initGsapAnimations(swiper);
</script>

<!-- <section id="thanks-section" aria-labelledby="thanks-title">
        <div class="section-divider section-divider--hearts">
          <img src="/images/stardew-valley-heart.webp" alt="" aria-hidden="true" width="30">
          <img src="/images/stardew-valley-heart.webp" alt="" aria-hidden="true" width="30">
          <img src="/images/stardew-valley-heart.webp" alt="" aria-hidden="true" width="30">
        </div>

        <h2 class="green" id="thanks-title">thank you so much for making that for me!! it meant a lot and i had a lot of fun with it :)</h3>

        <div class="section-divider section-divider--hearts">
          <img src="/images/stardew-valley-heart.webp" alt="" aria-hidden="true" width="30">
          <img src="/images/stardew-valley-heart.webp" alt="" aria-hidden="true" width="30">
          <img src="/images/stardew-valley-heart.webp" alt="" aria-hidden="true" width="30">
        </div>
      </section> -->