---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";

import Present from "../components/Ava/Present.astro";
import Age from "../components/Ava/Age.astro";
import Intro from "../components/Ava/Intro.astro";
import Home from "../components/Ava/Home.astro";
import PlaylistReview from "../components/Ava/PlaylistReview.astro";
import LoveIsland from "../components/Ava/LoveIsland.astro";
import MusicPlayer from "../components/Ava/MusicPlayer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Happy birthday :)">

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://vincecorradetti.com">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Happy birthday Ava!!">
		<meta property="og:description" content="Happy birthday :)">
		<meta property="og:image" content="https://vincecorradetti.com/images/gift-og.png">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="vincecorradetti.com">
		<meta property="twitter:url" content="https://vincecorradetti.com">
		<meta name="twitter:title" content="Happy birthday Ava!!">
		<meta name="twitter:description" content="Happy birthday :)">
		<meta name="twitter:image" content="https://vincecorradetti.com/images/gift-og.png">
    <meta name="robots" content="noindex, nofollow" />

		<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
		<link rel="shortcut icon" href="/favicon/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Ava's Present" />
		<link rel="manifest" href="/favicon/site.webmanifest" />

		<link rel="stylesheet" href="/styles/ava.css">
    <script src="/src/scripts/main.js"></script>
		<title>Happy Birthday Ava!!</title>
	</head>
	<body>
		<main class="swiper swiper--main">
      <ul class="swiper-wrapper">
        <li class="swiper-slide"><Present /></li>
        <li class="swiper-slide"><Age /></li>
        <li class="swiper-slide"><PlaylistReview /></li>
        <li class="swiper-slide"><LoveIsland /></li>
        <li class="swiper-slide"><Home /></li>
      </ul>
      <div class="swiper-pagination lock"></div>
      <button class="swiper-button-prev swiper-button-prev--main"></div>
      <button class="swiper-button-next swiper-button-next--main"></div>
		</main>

    <MusicPlayer />
	</body>
</html>