<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="I'm Vince! A super passionate engineer experienced in building marketing & e-commerce sites. I believe the web should be fun and accessible for all!">

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://vincecorradetti.com">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Vince Corradetti | UI Engineer">
		<meta property="og:description" content="I'm Vince! A super passionate engineer experienced in building marketing & e-commerce sites. I believe the web should be fun and accessible for all!">
		<meta property="og:image" content="https://vincecorradetti.com/images/og.png">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="vincecorradetti.com">
		<meta property="twitter:url" content="https://vincecorradetti.com">
		<meta name="twitter:title" content="Vince Corradetti | UI Engineer">
		<meta name="twitter:description" content="I'm Vince! A super passionate engineer experienced in building marketing & e-commerce sites. I believe the web should be fun and accessible for all!">
		<meta name="twitter:image" content="https://vincecorradetti.com/images/og.png">
    <meta name="robots" content="noindex, nofollow" />

		<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
		<link rel="shortcut icon" href="/favicon/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Vince | UI" />
		<link rel="manifest" href="/favicon/site.webmanifest" />

		<link rel="stylesheet" href="/styles/ava.css">
		<title>Ava & Vince's Site!!</title>
	</head>
	<body>
		<main>
			<section aria-labelledby="hero-heading" id="hero-section">
        <h1 id="hero-heading" class="title">
          <span class="ava yellow">AVA</span> AND <span class="vince yellow">VINCE'S</span> <span class="purple">COOL ASS</span> <span class="green">WEBSITE!!!!</span>
        </h1>

        <div class="cats">
          <figure class="figure--pickles">
            <div class="stardew--border">
              <img src="/images/pickles.jpg" alt="Pickles!!!" width="1000" height="500">
            </div>
            <figcaption class="stardew--info">
              <img src="/images/stardew-valley-info.webp" alt="" aria-hidden="true" width="200">
              <span>PICKLES!!</span>
            </figcaption>
          </figure>

          <figure>
            <div class="stardew--border">
              <img src="/images/gracie.jpg" alt="Gracie!!" width="1000" height="500">
            </div>
            <figcaption class="stardew--info">
              <img src="/images/stardew-valley-info.webp" alt="" aria-hidden="true" width="200">
              <span>GRACIE!!</span>
            </figcaption>
          </figure>

          <img src="/images/stardew-valley-heart.webp" alt="" aria-hidden="true" width="25" class="heart">
        </div>
			</section>

      <div class="section-divider">
        <img src="https://i.redd.it/kgrl0g2yg3y51.gif" alt="" aria-hidden="true" width="300">
        <img src="https://i.redd.it/kgrl0g2yg3y51.gif" alt="" aria-hidden="true" width="300">
        <img src="https://i.redd.it/kgrl0g2yg3y51.gif" alt="" aria-hidden="true" width="300">
      </div>

      <section aria-labelledby="review-heading" id="review-section">
        <h2 id="review-heading" class="title">AVA'S PLAYLIST REVIEW!!</h2>
        <ol>
          <li>
            <figure>
              <img
                src="https://cdn-images.dzcdn.net/images/cover/bf087df4e0c81f5c1e3eca131b836082/500x500-000000-80-0-0.jpg"
                alt=""
                aria-hidden="true"
                width="300"
              >
              <figcaption>
                <div class="metadata">
                  <span class="song">
                    <span class="stars">
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                    </span>
                    1. I Do Not Care for the Winter Sun
                  </span>
                  <span>
                    <span class="band">Beach House</span>
                    ///
                    <span class="runtime">3m 10sec</span>
                  </span>
                </div>
                <div class="stardew--dialogue">
                  <img
                    src="/images/stardew-valley-dialogue.webp"
                    alt=""
                    aria-hidden="true"
                  >
                  <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
                  <p>I REALLY LIKED THE ALBUM COVER LOL</p>
                </div>
              </figcaption>
            </figure>
          </li>

          <li>
            <figure>
              <img
                src="https://cdn-images.dzcdn.net/images/cover/dd7dc277af05d975cf5a75a60f04e5bb/500x500-000000-80-0-0.jpg"
                alt=""
                aria-hidden="true"
                width="300"
              >
              <img src="https://i.redd.it/9f9qan0yg3y51.gif" alt="" aria-hidden="true" width="50" class="cherry">
              <figcaption>
                <div class="metadata">
                  <span class="song">
                    <span class="stars">
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star--gold.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                    </span>
                    2. What Did You See?
                  </span>
                  <span>
                    <span class="band">Cemeteries</span>
                    ///
                    <span class="runtime">4m 24sec</span>
                  </span>
                </div>
                <div class="stardew--dialogue">
                  <img
                    src="/images/stardew-valley-dialogue.webp"
                    alt=""
                    aria-hidden="true"
                  >
                  <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
                  <p>I HAD TO REDO THE RATINGS FOR EACH SONG BECAUSE OF THIS ONE; I REALLY LIKE IT!!</p>
                </div>
              </figcaption>
            </figure>
          </li>

          <li>
            <figure>
              <img
                src="https://cdn-images.dzcdn.net/images/cover/5c8e6145b4da32ecdb06faf2d03a11a7/500x500-000000-80-0-0.jpg"
                alt=""
                aria-hidden="true"
                width="300"
              >
              <figcaption>
                <div class="metadata">
                  <span class="song">
                    <span class="stars">
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                    </span>
                    3. Ontario Gothic
                  </span>
                  <span>
                    <span class="band">Foxes In Fiction</span>
                    ///
                    <span class="runtime">5m 25sec</span>
                  </span>
                </div>
                <div class="stardew--dialogue">
                  <img
                    src="/images/stardew-valley-dialogue.webp"
                    alt=""
                    aria-hidden="true"
                  >
                  <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
                  <p>I REALLY LIKED THE BEGINNING TOO :()</p>
                </div>
              </figcaption>
            </figure>
          </li>

          <li>
            <figure>
              <img
                src="https://cdn-images.dzcdn.net/images/cover/e9212a465314d2c8d63649e7193ddc6e/500x500-000000-80-0-0.jpg"
                alt=""
                aria-hidden="true"
                width="300"
              >
              <figcaption>
                <div class="metadata">
                  <span class="song">
                    <span class="stars">
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                    </span>
                    4. Nowhere Near
                  </span>
                  <span>
                    <span class="band">Yo La Tengo</span>
                    ///
                    <span class="runtime">6m 3sec</span>
                  </span>
                </div>
                <div class="stardew--dialogue">
                  <img
                    src="/images/stardew-valley-dialogue.webp"
                    alt=""
                    aria-hidden="true"
                  >
                  <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
                  <p>IT SOUNDED KINDA LIKE A COWBOY SONG HAHA</p>
                </div>
              </figcaption>
            </figure>
          </li>

          <li>
            <figure>
              <img
                src="https://cdn-images.dzcdn.net/images/cover/c90c6ef879fb5cd5d04bd29c777b84e3/500x500-000000-80-0-0.jpg"
                alt=""
                aria-hidden="true"
                width="300"
              >
              <figcaption>
                <div class="metadata">
                  <span class="song">
                    <span class="stars">
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star--gold.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                    </span>
                    5. Autumn Sweater
                  </span>
                  <span>
                    <span class="band">Yo La Tengo</span>
                    ///
                    <span class="runtime">5m 18sec</span>
                  </span>
                </div>
                <div class="stardew--dialogue">
                  <img
                    src="/images/stardew-valley-dialogue.webp"
                    alt=""
                    aria-hidden="true"
                  >
                  <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
                  <p>THE INSTRUMENTALS ARE REALLY FUN AND I THINK IT'S CATCHY :)</p>
                </div>
              </figcaption>
            </figure>
          </li>

          <li>
            <figure>
              <img
                src="https://cdn-images.dzcdn.net/images/cover/988f95c129a65d8e70be286a65877cac/500x500-000000-80-0-0.jpg"
                alt=""
                aria-hidden="true"
                width="300"
              >
              <figcaption>
                <div class="metadata">
                  <span class="song">
                    <span class="stars">
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                    </span>
                    6. Killer Whale
                  </span>
                  <span>
                    <span class="band">Boyscott</span>
                    ///
                    <span class="runtime">2m 28sec</span>
                  </span>
                </div>
                <div class="stardew--dialogue">
                  <img
                    src="/images/stardew-valley-dialogue.webp"
                    alt=""
                    aria-hidden="true"
                  >
                  <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
                  <p>ANOTHER BANGER. BOO BOO BOO BUM BOO BOO BOO BUM. I'D GIVE IT A HIGHER RATING BUT RATING INFLATION...</p>
                </div>
              </figcaption>
            </figure>
          </li>

          <li>
            <figure>
              <img
                src="https://cdn-images.dzcdn.net/images/cover/d65dde22a01b9b65a898cc28119d5611/500x500-000000-80-0-0.jpg"
                alt=""
                aria-hidden="true"
                width="300"
              >
              <figcaption>
                <div class="metadata">
                  <span class="song">
                    <span class="stars">
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star--gold.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                    </span>
                    7. Lost Love Letters
                  </span>
                  <span>
                    <span class="band">Fog Lake</span>
                    ///
                    <span class="runtime">3m 3sec</span>
                  </span>
                </div>
                <div class="stardew--dialogue">
                  <img
                    src="/images/stardew-valley-dialogue.webp"
                    alt=""
                    aria-hidden="true"
                  >
                  <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
                  <p>BANGER ALERT! LOVE BOTH THE LYRICS AND INSTRUMENTS. WHOLE SONG IS A VIBE</p>
                </div>
              </figcaption>
            </figure>
          </li>

          <li>
            <figure>
              <img
                src="https://cdn-images.dzcdn.net/images/cover/7be847da56bed46815f9717f3be7fd9b/500x500-000000-80-0-0.jpg"
                alt=""
                aria-hidden="true"
                width="300"
              >
              <figcaption>
                <div class="metadata">
                  <span class="song">
                    <span class="stars">
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                    </span>
                    8. Her Sinking Sun
                  </span>
                  <span>
                    <span class="band">Coma Cinema</span>
                    ///
                    <span class="runtime">2m 34sec</span>
                  </span>
                </div>
                <div class="stardew--dialogue">
                  <img
                    src="/images/stardew-valley-dialogue.webp"
                    alt=""
                    aria-hidden="true"
                  >
                  <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
                  <p>GREW ON ME THE MORE I LISTENED #YUP</p>
                </div>
              </figcaption>
            </figure>
          </li>

          <li>
            <figure>
              <img
                src="https://cdn-images.dzcdn.net/images/cover/4638f365f71a41370e30b1034e2e3ebb/500x500-000000-80-0-0.jpg"
                alt=""
                aria-hidden="true"
                width="300"
              >
              <figcaption>
                <div class="metadata">
                  <span class="song">
                    <span class="stars">
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                    </span>
                    9. Half Right
                  </span>
                  <span>
                    <span class="band">Heatmiser</span>
                    ///
                    <span class="runtime">4m 21sec</span>
                  </span>
                </div>
                <div class="stardew--dialogue">
                  <img
                    src="/images/stardew-valley-dialogue.webp"
                    alt=""
                    aria-hidden="true"
                  >
                  <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
                  <p>I REALLY WANTED TO LIKE THIS ONE BC IT'S SPECIAL TO YOU BUT I COULDN'T GET OVER THE ACOUSTICS AND SINGING T_T</p>
                </div>
              </figcaption>
            </figure>
          </li>

          <li>
            <figure>
              <img
                src="https://cdn-images.dzcdn.net/images/cover/2b5038f4342e8092a74abcfb5fead752/500x500-000000-80-0-0.jpg"
                alt=""
                aria-hidden="true"
                width="300"
              >
              <figcaption>
                <div class="metadata">
                  <span class="song">
                    <span class="stars">
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star--gold.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                    </span>
                    10. Katy Song
                  </span>
                  <span>
                    <span class="band">Red House Painters</span>
                    ///
                    <span class="runtime">8m 22sec</span>
                  </span>
                </div>
                <div class="stardew--dialogue">
                  <img
                    src="/images/stardew-valley-dialogue.webp"
                    alt=""
                    aria-hidden="true"
                  >
                  <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
                  <p>AT FIRST I DIDN'T LIKE IT BUT THEN I WAS LIKE HOOOLY THE MIDDLE AND ENDING</p>
                </div>
              </figcaption>
            </figure>
          </li>

          <li>
            <figure>
              <img
                src="https://cdn-images.dzcdn.net/images/cover/27923f1071b27caf9950a865d758329d/500x500-000000-80-0-0.jpg"
                alt=""
                aria-hidden="true"
                width="300"
              >
              <figcaption>
                <div class="metadata">
                  <span class="song">
                    <span class="stars">
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                    </span>
                    11. Baby Blue
                  </span>
                  <span>
                    <span class="band">King Krule</span>
                    ///
                    <span class="runtime">3m 35sec</span>
                  </span>
                </div>
                <div class="stardew--dialogue">
                  <img
                    src="/images/stardew-valley-dialogue.webp"
                    alt=""
                    aria-hidden="true"
                  >
                  <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
                  <p>NOT MUCH TO SAY OTHER THAN I DON'T LIKE HOW THIS GUY SINGS ICL LMFAO</p>
                </div>
              </figcaption>
            </figure>
          </li>

          <li>
            <figure>
              <img
                src="https://cdn-images.dzcdn.net/images/cover/27923f1071b27caf9950a865d758329d/500x500-000000-80-0-0.jpg"
                alt=""
                aria-hidden="true"
                width="300"
              >
              <figcaption>
                <div class="metadata">
                  <span class="song">
                    <span class="stars">
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                      <img
                        src="/images/stardew-valley-star.webp"
                        alt=""
                        aria-hidden="true"
                        width="35"
                      >
                    </span>
                    12. Border Line
                  </span>
                  <span>
                    <span class="band">King Krule</span>
                    ///
                    <span class="runtime">3m 5sec</span>
                  </span>
                </div>
                <div class="stardew--dialogue">
                  <img
                    src="/images/stardew-valley-dialogue.webp"
                    alt=""
                    aria-hidden="true"
                  >
                  <img src="/images/ron-weasley.webp" alt="" aria-hidden="true" class="vince">
                  <p>FINISH THIS VINCE</p>
                </div>
              </figcaption>
            </figure>
          </li>
        </ol>
			</section>

      <div class="section-divider section-divider--hearts">
        <img src="/images/stardew-valley-heart.webp" alt="" aria-hidden="true" width="50">
        <img src="/images/stardew-valley-heart.webp" alt="" aria-hidden="true" width="50">
        <img src="/images/stardew-valley-heart.webp" alt="" aria-hidden="true" width="50">
      </div>

      <section>
        <h2 class="green">thank you so much for making that for me!! it meant a lot and i had a lot of fun with it :)</h3>
      </section>
		</main>

    <aside id="music-player">
      <audio src="/songs/i-do-not-care-for-the-winter-sun.mp3"></audio>
      <button>
        <img
          src="/images/stardew-valley-music--on.webp"
          alt="Click to turn on / off the music player"
          width="60"
        >
      </button>
    </aside>
	</body>
</html>

<script>
  function initMusicPlayer() {
    const SONGS = [
      "/songs/what-did-you-see.mp3",
      "/songs/i-do-not-care-for-the-winter-sun.mp3",
    ];
    let currentSongIndex = 0;
    const player = document.getElementById("music-player");
    const audio = player?.querySelector("audio");
    const button = player?.querySelector("button");
    if (!audio || !button) return;

    button.addEventListener("click", (event) => {
      const isPlaying = audio.getAttribute("data-playing") === "" ? true : false;

      if (isPlaying) {
        audio.pause();
      } else {
        audio.play();
      }
      audio.toggleAttribute("data-playing");
    });

    audio.addEventListener("ended", (event) => {
      const nextSongIndex = currentSongIndex === SONGS.length - 1 ? 0 : currentSongIndex++;
      audio.setAttribute("src", SONGS[nextSongIndex]);
      audio.play();
    });
  };

  /*
  function initCherries() {
    const cherries = document.querySelectorAll(".cherry");
    if (!cherries) return;

    // todo: add throttle
    cherries.forEach((cherry) => {
      (cherry as HTMLElement).addEventListener("click" , (event) => {
        cherry.classList.add("jump");

        setTimeout(() => {
          cherry.classList.remove("jump");
        }, 1500)
      });
    });
  };
  */

  initMusicPlayer();
</script>